<div class="container-fluid p-0">

    <h3 class="bg-success p-2 text-white">Adding Fuel Billing</h3>

  <div class="container-fluid ">
 
    <div class="card">

        <div class="card-body">
            
      <div class="row">

        <div class="col">

            <label for="" class="form-label">User Id</label>
            <input type="text" class="form-control">
        </div>
         <div class="col">

            <label for="" class="form-label">Bill No</label>
            <input type="text" class="form-control">
        </div>
         <div class="col">

            <label for="" class="form-label">Station Id</label>
            <input type="text" class="form-control">
        </div>
    </div>
    
    <div class="row">

        <div class="col-5">

            <label for="" class="form-label">Amount</label>
            <input type="text" class="form-control">
        </div>
         <div class="col-5">

            <label for="" class="form-label">Found Source Id</label>
            <input type="text" class="form-control">
        </div>

        <div class="col d-flex align-items-end gap-1">

            <button class="btn btn-warning w-100">Update</button>
            

        </div>

      
    </div>
        </div>
    </div>
  </div>



</div>

