
      
<div class="row sidebar ">

      <div class="col-2 bg-success">
            



      <div class="container-fluid h-auto">

                <a href="" class="navbar-brand text-white fw-bolder fs-2">CodeReady</a>

      <nav class="navbar">
            <ul class="nav flex-column gap-3 ">
                  <li class="page-item"><a href="" class="nav-link link-light" routerLink="register">Register</a></li>
                    <li class="page-item"><a href="" class="nav-link link-light" routerLink="dashboard">Dashboard</a></li>
                      <li class="page-item"><a href="" class="nav-link link-light" routerLink="customer">Customer</a></li>
                        <li class="page-item"><a href="" class="nav-link link-light" >Logout</a></li>

            </ul>
      </nav>


      </div>
  

      </div>

     <div class="col p-0">

                  
            <router-outlet></router-outlet>
               </div>


    
</div>




