<div class="container-fluid bg-primary text-white p-3">
<h1>API</h1>
</div>


<div class="container-fluid px-0">
  <div class="row g-0">
    <div class="col-2 bg-dark text-white">
     
      <nav class="navbar">

            <ul class="nav flex-column">

                  <li class="nav-item"><a href="" class="nav-link link-light" routerLink="dashboard">Dashboard</a></li>
                     <li class="nav-item"><a href="" class="nav-link link-light" routerLink="register">Register</a></li>
                        <li class="nav-item"><a href="" class="nav-link link-light" routerLink="alluser">All user</a></li>
                           <li class="nav-item"><a href="" class="nav-link link-light" routerLink="updateuser">Update user</a></li>
            </ul>
      </nav>
    </div>
    <div class="col-10 bg-light">
     
    

            <router-outlet></router-outlet>

    </div>
  </div>
</div>



