
.container{

        background-color: black;
        width: 100%;
}
.container-header{

    display: flex;
      width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
}

.brand{

    color: white;
    text-decoration: none;
}

.navlink{

    display: flex;
    flex-direction: row;
    gap: 30px;
}

.link a {

    text-decoration: none;
    color: white;
}

@media (max-width: 600px){

    .navlink{

        display: none;
    }
}