<div class="container-fluid">


    <div class="row bg-info">
        <div class="col"> <h3 class="text-white">Register</h3></div>
    </div>
    <div class="row">

        <div class="col">

           <div class="container p-2">
            
            <div class="card">

                <div class="card-header">

                    <h4>Register user</h4>
                </div>

                <div class="card-body">

                    <div class="row">
                        <div class="col">
                            <label for="Firstname" class="form-label">Firstname</label>
                            <input type="text" class="form-control">
                        </div>
                         <div class="col">
                            <label for="Firstname" class="form-label">Midlename</label>
                            <input type="text" class="form-control">
                        </div>
                         <div class="col">
                            <label for="Firstname" class="form-label">Lastname</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                     <div class="row">
                        <div class="col">
                            <label for="Firstname" class="form-label">Email</label>
                            <input type="email" class="form-control">
                        </div>
                         <div class="col">
                            <label for="Firstname" class="form-label">Mobile no.</label>
                            <input type="tel" class="form-control">
                        </div>
                         
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>
</div>
